<header>
    <nav>
      <div class="logo">
        <a href="/">AutoCarePro</a>
      </div>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li>
          <a href="#">Profile</a>
          <ul>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>