<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoCarePro - Logout</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="container" >
    <h1>Logout</h1>
    <p>Are you sure you want to logout?</p>
    <a href="/logout" class="btn">Logout</a>
   
    <a href="/home" class="btn">Cancel</a>
  </div>

  <%- include('partials/footer') %>
</body>
</html>